html {
    background:#FAFAF3;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

/* topp */

/* nav meny */
.dropbtn {
    display: inline-block;
    text-align:left;
    border: none;
    cursor: pointer;
    background-color: transparent; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  display: inline-block;
    background-color: transparent;
    width:100%;
    z-index: 1;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    min-width: 100%;
    z-index: 1;
    
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #436700;
    padding-top: 7px;
    padding-bottom: ;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    background-color: #FAFAF3;
}
 
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    letter-spacing: 3px;
    z-index: 0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
    
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    text-align: LEFT;
  background-color: transparent;
    width: 100%;
}

/* ben GIF */

#gif {
    text-align: center;
    display: block;
    margin-top: 6vh;
   padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: ; 
    z-index: -1;
}


.giphy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    height: auto;
    max-width: 450px; 
}


/* nav */

.nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.nav h2 {
    text-align: center;
    display: inline-block;
    height:100%;
    font-size: 16px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #436700;
    margin-top: 10px;

}


.nav h2 a{
    display: block;
    text-decoration: none;
    color: #436700;
}

.nav h2 a:visited{
    color: #436700;
}

.nav h2 a:hover {
}

.nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 45px;
    padding-top: 30px;
    text-align: center;

}


/* praktisk info */

.praktisk {
    padding-top: 150px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    }

h2 {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    list-style-type: none;
    font-size: 16px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #436700;
}

h3 {
    text-align: left;
    display: block;
    text-decoration: none;
    margin-top: 30px;
    list-style-type: none;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: #436700;
}

.praktisk ul {
    text-align: left;
    margin-left:;
    display: inline-block;
    height:100%;
    list-style-type: none;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: #436700;
}

p {
    text-align: left;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: 25px;
    color: #436700;
}

p a{
    
    display: block;
    text-decoration: none;
    list-style-type: none;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #436700;
}

praktisk p a:visited{
    color: #436700;
}

praktisk p a:hover {
letter-spacing: 3px;
}

.sted {
    text-align: left;
    display: inline-block;
    margin-top: 60px;
    vertical-align: top;
}

.champagne {
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}

.tidsplan {
    text-align: left;
    display: inline-block;
    margin-top: 60px;
    vertical-align: top;
}

table {
    display: inline-block;
    margin-top: 10px;
    }


tr {
    margin-left:30px;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    color: #436700;
}

td {
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left:30px;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    color: #436700;
}

.bar p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }


.antrekk  {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}
.antrekk h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.antrekk h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.antrekk p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.antrekk h5 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    font-size:14px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: 25px;
    color: #436700;
    background-color: #ecddec;
}

.antrekk td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.taler  {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    text-align: center;
    width: 100%;
}

.taler h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.taler h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.taler p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.startRSVP p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FAFAF3;
}

.RSVP {
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 150px;
    text-align: center;
    border-style: dotted;
    border-color: #436700;
    border-width: thin;
    width: 100%;
    max-width: 830px;
    padding-top: 50px;
    padding-bottom: 60px;
}


.RSVP p {
    margin-left: auto;
    margin-right: auto;
    padding-left:15px;
    padding-right: 15px;
    text-align: center;
}


.RSVP h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    text-decoration-line: underline;
    
}

.RSVP img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}

.hilsen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 300px;
}

.hilsen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 300px;
    width: 70%;
    max-width: 375px;
}

.kake {
    display: block;
    margin-top: 50px;
    margin-bottom: 75px;
}

.ønskeliste  {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.ønskelistetekst p{
    display: inline-block;
    vertical-align: top;
    text-align:center;
}

.ønskelistetekst p a{
    display: inline-block;
    vertical-align: top;
    text-align:center;
    text-decoration: underline;
    
}

.ønskelistetekst h3 {
display: block;
 text-align: center;
}


/* footer */

.footer {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
.footer ul {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
    height:100%;
    text-decoration: none;
    font-size:12px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
}

.footer li{
    text-decoration: none;
    list-style-type: none;
    color: #436700;
    line-height: 15px;
    font-size:11px;
 }   
    

.footer li a{
    display: block;
    text-decoration: none;
    padding:5px;
    list-style-type: none;
    display: inline-block;
    height:100%;
    font-size:11px;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    color: #436700;
}

.footer p a:visited{
   color: #436700;
    }
    
